body {
  color: #202121;
  background: #f4f7f6;
}
a {
  color: #49c5b6;
  transition: all 0.3s ease-in-out;
}
.hatena-module-title {
  color: #202121;
}
.hatena-module-title a {
  color: #202121;
}
#title a {
  color: #202121;
}
#blog-description{
  color: #202121;
}
#content {
    background: none;
}
.categories a {
    background: #9FD2D6;
  border-radius: 17px;
    padding: 0 20px;
  line-height: 34px;
  height: 34px;
}
.hatena-module-title {
    border-bottom: 1px solid #E6EAEA;;
}
.archive-entry .categories a {
    background: #9FD2D6;
    border-radius: 12px;
    padding: 0 14px;
    line-height: 24px;
    height: 24px;
    font-size: 11px;
}
