$primary-black: #4d4d4d;
$heding-black: #202121;
// $primary-blue: #49c5b6;
$primary-blue: #47a89c;
$bg-gray: #f7f7f7;
$bg-blue: #9fd2d6;
$pink: #ff4e4e;

body {
  color: $primary-black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, Hiragino Kaku Gothic Pro, Meiryo, MS PGothic,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background: #f4f7f6;
}
a {
  color: $primary-blue;
  transition: all 0.3s ease-in-out;
}
.hatena-module-title {
  color: $primary-black;
}
.hatena-module-title a {
  color: $primary-black;
}
#title a {
  color: $primary-black;
}
#blog-description {
  color: $primary-black;
}

.hatena-module-title {
  border-bottom: 1px solid #ddd;
  color: $heding-black;
}

/* -------------------------------------------------------
  Categories
--------------------------------------------------------- */
a.keyword {
  border-bottom: 0;
}
.categories {
  font-size: 0.875rem;
}
.categories a,
.hatena-module-category .hatena-urllist li a,
.hatena-urllist .urllist-category-link {
  background: $bg-blue;
  border-radius: 17px;
  padding: 0 10px;
  margin-right: 0;
  line-height: 34px;
  height: 34px;
  color: #fff;
  white-space: nowrap;
}
.hatena-urllist .urllist-category-link {
  border-radius: 14px;
  line-height: 28px;
  height: 28px;
}
.urllist-title-link {
  font-size: 0.875rem;
}

/* -------------------------------------------------------
  Entry
--------------------------------------------------------- */
.entry-content h3 {
  font-size: 200%;
  margin: 2rem 0;
  border-bottom: solid 2px $primary-blue;
  font-weight: normal;
  padding: 0 0 0.5rem 0;
  line-height: 1.2;
  background: none;
  color: $heding-black;
}

.entry-content h4 {
  font-size: 150%;
  color: $primary-blue;
  margin: 1.5em 0 0.5em 0;
  line-height: 1.2;
  padding: 0;
  border: 0;
}

.entry-content blockquote {
  background: $bg-gray
    url(https://cdn.blog.st-hatena.com/css/theme/evergreen/images/quote.png?version=97326de…&env=production)
    no-repeat;
  background-position: 40px 25px;
  margin: 0 0 10px;
  padding: 75px 40px 40px;
  color: gray;
  border: 0;
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.leave-comment-title {
  padding: 0.5rem 1rem;
  margin: 0;
  line-height: 20px;
  color: $primary-blue;
  background: none;
  text-align: center;
  vertical-align: middle;
  border-radius: 0;
  background-clip: padding-box;
  cursor: pointer;
  font-size: 1.1rem;
  text-decoration: none;
  font-weight: bold;
  border: 0;
}
