$text-black: #4d4d4d;
$text-gray: #abb4b7;
$text-pink: #ff4e4e;
$text-blue: #47a89c;

$bg-gray: #f7f7f7;
$bg-blue: #9fd2d6;
$bg-light-blue: #f4f7f6;

$border-gray: #ddd;

/* -------------------------------------------------------
  Bootstrap
--------------------------------------------------------- */
/* Variable overrides */
$theme-colors: (
  "primary": $text-blue
);
$enable-rounded:false;

/* Required */
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

/* Optional */
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
/*
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/code";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/transitions";
*/
@import "../node_modules/bootstrap/scss/dropdown";
/*
@import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/input-group";
@import "../node_modules/bootstrap/scss/custom-forms";
*/
@import "../node_modules/bootstrap/scss/nav";
/*
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/breadcrumb";
@import "../node_modules/bootstrap/scss/pagination";
@import "../node_modules/bootstrap/scss/badge";
@import "../node_modules/bootstrap/scss/jumbotron";
@import "../node_modules/bootstrap/scss/alert";
@import "../node_modules/bootstrap/scss/progress";
@import "../node_modules/bootstrap/scss/media";
@import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/close";
@import "../node_modules/bootstrap/scss/modal";
@import "../node_modules/bootstrap/scss/tooltip";
@import "../node_modules/bootstrap/scss/popover";
@import "../node_modules/bootstrap/scss/carousel";
*/
@import "../node_modules/bootstrap/scss/utilities";
/*
@import "../node_modules/bootstrap/scss/print"
*/


/* -------------------------------------------------------
  Basic
--------------------------------------------------------- */

body {
  color: $text-black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, Hiragino Kaku Gothic Pro, Meiryo, MS PGothic,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-weight: 400;
  line-height: 1.6;
  text-align: left;
  background: $bg-light-blue;
  font-size: 16px;
}

#content {
  background-color: $bg-light-blue;
  padding: 1rem 0 0 0;
}

a,
a:visited {
  color: $text-blue;
  transition: all 0.3s ease-in-out;
  &::before,
  &::after {
    color: $text-blue;
    transition: all 0.3s ease-in-out;
  }
}

a:hover,
a:active,
a:focus {
  color: darken($text-blue, 10%);
  &::before,
  &::after {
    color: darken($text-blue, 10%);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  a,
  a:hover,
  a:visited {
    color: $text-black;
    text-decoration: none;
  }
}

.hatena-module,
.page-archive .archive-entry,
.page-entry #main,
.page-about #main,
.page-static_page #main {
  border-radius: 0;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.page-entry #main,
.page-about #main,
.page-static_page #main {
  background-color: #fff;
  padding: 20px;
  border-radius: 0;
  margin-bottom: 3rem;
}

@media (min-width: 1142px) {
  .page-entry #main,
  .page-about #main,
  .page-static_page #main {
    padding: 30px;
  }
}

/* for Tablet, mobile */
@media (max-width: 991.98px) {
  #content {
    padding: 20px;
  }

  #content-inner {
    flex-direction: column;
    width: 100%;
  }

  #wrapper {
    width: 100%;
  }

  #box2 {
    width: 100%;
  }
}

@media (max-width: 575.98px) {
  #content {
    padding: 10px;
  }

  .page-entry #main,
  .page-about #main,
  .page-static_page #main {
    padding: 10px;
  }
}

/* -------------------------------------------------------
  Header
--------------------------------------------------------- */
#blog-title {
  padding: 5rem 0 3rem 0;

  @media (max-width: 575.98px) {
    padding: 3rem 0 1rem 0;
  }

  #title {
    margin: 0;
    font-size: 313%;
    letter-spacing: 0.05em;
    padding: 0 2rem;

    @media (max-width: 575.98px) {
      font-size: 200%;
    }

    a {
      color: $text-black;

      &:hover {
        color: $text-blue;
      }
    }
  }
}

#blog-description {
  font-weight: 400;
  font-size: 100%;
  color: $text-gray;
  margin: 1rem 0 0;
  padding: 0 2rem;

  @media (max-width: 575.98px) {
    font-size: 0.8rem;
    margin: 0.75rem 0 0;
    padding: 0;
  }
}

/* -------------------------------------------------------
  Categories
--------------------------------------------------------- */
.categories a,
.urllist-category-link {
  background: $bg-light-blue;
  border-radius: 15px;
  padding: 0 1rem;
  margin-right: 0;
  line-height: 30px;
  height: 30px;
  color: $text-blue;
  white-space: nowrap;
  font-size: 0.8rem;
  display: inline-block;

  &::before {
    content: "#";
  }

  &:hover,
  &:active {
    color: #fff;
    background: $bg-blue;
    &::before {
      color: #fff;
    }
  }
}
.entry-header .categories a{
  @media (max-width: 575.98px) {
    border-radius: 12px;
    font-size: 0.65rem;
    line-height: 24px;
    height: 24px;
    padding: 0 0.4rem;
    margin-bottom: 0.2rem;
  }
}

/* -------------------------------------------------------
  Comment
--------------------------------------------------------- */
.leave-comment-title {
  color: $text-blue !important;
  font-size: 1rem;
  border-color: $text-blue;
}

/* -------------------------------------------------------
  Footer
--------------------------------------------------------- */
#copyright {
  color: $text-black;
  font-size: 0.8rem;

  a {
    color: $text-blue;
    padding: 0 0.5rem;
  }

  .fa-heart {
    color: $text-pink;
  }
}

/* -------------------------------------------------------
  Index archive
--------------------------------------------------------- */
.page-archive {
  .date {
    margin: 0;
    font-size: 0.9rem;
    @media (min-width: 768px){
      margin: .5rem 0;
    }

    a {
      color: $text-gray;
      font-weight: normal;

      &::before {
        display: none;
      }
    }
  }

  .entry-title {
    margin: 0;
  }

  .entry-title-link {
    color: $text-black;

    &:hover,
    &:active {
      color: $text-blue;
    }
  }

  .archive-entry {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
  }

  .archive-entry-header {
    order: 2;
    margin-left: 10px;
    width: calc(100% - 160px);
    @media (min-width: 768px){
      width: calc(100% - 210px);
    }
    @media (max-width: 575.98px) {
      width: calc(100% - 110px);
    }
  }

  .categories {
    order: 3;
    width: 100%;
    position: relative;
    left: 0;
    margin: 0.5rem 0 0 0;

    a {
      margin-bottom: 0.2rem;
      @media (max-width: 575.98px) {
        border-radius: 12px;
        font-size: 0.65rem;
        line-height: 24px;
        height: 24px;
        padding: 0 0.4rem;
      }
    }
  }

  .entry-thumb-link {
    order: 1;
    float: none;
    width: 150px;
    @media (min-width: 768px){
      width: 200px;
    }
    @media (max-width: 575.98px) {
      width: 100px;
    }
  }

  .entry-thumb {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    @media (min-width: 1142px) {
      width: 200px;
      height: 200px;
    }
    @media (max-width: 575.98px) {
      width: 100px;
      height: 100px;
    }
  }
}

/* -------------------------------------------------------
  Sidebar
--------------------------------------------------------- */
.hatena-module {
  // PR
  &.hatena-module-html:first-child,
  &.hatena-module-html:last-child {
    padding: 0;
    background: transparent;
    box-shadow: none;
    text-align: center;
  }

  // sidebar common
  .hatena-module-title {
    color: $text-black;
    border-bottom: 1px solid $border-gray;

    a {
      color: $text-black;

      &:hover,
      &:active {
        color: $text-blue;
      }
    }
  }

  // Profile
  &.hatena-module-profile {
    .profile-description {
      @media (min-width: 1142px) {
        font-size: 0.8rem;
      }
    }
  }

  // Latest entries, Related entries
  &.hatena-module-recent-entries,
  &.hatena-module-related-entries {
    .urllist-title-link {
      font-size: 0.9rem;
      line-height: 1.4;
      color: $text-black;

      &:hover,
      &:active {
        color: $text-blue;
      }

      @media (max-width: 575.98px) {
        font-size: 1rem;
      }
    }

    .urllist-category-link {
      font-size: 0.7rem;
      line-height: 24px;
      height: 24px;
      padding: 0 0.5rem;
      border-radius: 12px;
      margin: 0 0.25rem 0.25rem 0;

      &:hover {
        text-decoration: none;
      }
    }

    .urllist-item {
      border-bottom: 1px solid $border-gray;
      margin-bottom: 0.5rem;

      &:last-child {
        border: 0;
        margin: 0;
      }
    }

    .urllist-categories {
      clear: both;
    }
  }

  // Categories
  &.hatena-module-category {
    .hatena-urllist li {
      display: block;
      margin-right: 0;
      float: none;
      border-bottom: 1px solid $border-gray;
      padding: 0;

      a {
        color: $text-black;
        padding: 0.5rem 0;
        background: none;

        &:hover,
        &:active {
          color: $text-blue;
        }
      }
    }
  }
}

/* -------------------------------------------------------
  Entry
--------------------------------------------------------- */
.entry {
  .date a {
    color: $text-gray;
    font-weight: normal;

    &::before {
      display: none;
    }
  }

  .entry-title {
    line-height: 1.25;

    @media (min-width: 1200px) {
      font-size: 200%;
    }
  }

  .categories {
    margin: 1em 0;
  }

  .entry-header {
    padding-bottom: 0;
    margin-bottom: 1.5em;
    border-bottom: 1px solid $border-gray;
  }

  .entry-content {
    // line-height: 1.8;
    // font-size: 110%;
    p:not(.hatena-asin-detail-title) {
      line-height: 2;
      margin: 0 0 0.5em;

      @media (max-width: 575.98px) {
        line-height: 1.8;
        font-size: 17px;
      }
    }

    h3 {
      color: $text-black;
      font-size: 200%;
      margin: 2rem 0;
      border-bottom: solid 2px $text-blue;
      font-weight: normal;
      padding: 0 0 0.5rem 0;
      line-height: 1.2;
      background: none;

      @media (max-width: 575.98px) {
        font-size: 160%;
      }
    }

    h4 {
      font-size: 150%;
      color: $text-blue;
      margin: 1.5em 0 0.5em 0;
      line-height: 1.2;
      padding: 0;
      border: 0;

      @media (max-width: 575.98px) {
        font-size: 130%;
      }
    }

    blockquote {
      background: $bg-gray
        url(https://cdn.blog.st-hatena.com/css/theme/evergreen/images/quote.png?version=97326deâ€¦&env=production)
        no-repeat;
      line-height: 1.8;
      font-size: 113%;
      background-position: 40px 25px;
      margin: 0 0 10px;
      padding: 75px 40px 40px;
      color: gray;
      border: 0;

      @media (max-width: 575.98px) {
        padding: 40px 20px 20px;
        background-position: 15px 15px;
        background-size: 30px;
      }

      p {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }

  .hatena-module-related-entries {
    box-shadow: none;
  }

  .related-entries-entry-body {
    display: none;
  }
}

/* -------------------------------------------------------
  Statics Pages
--------------------------------------------------------- */
.static-page-contact .entry-header {
  display: none;
}

.static-page-contact #main {
  background: transparent;
  box-shadow: none;
  padding: 0;
}

/* -------------------------------------------------------
  Global Nav
--------------------------------------------------------- */
#global-nav {
  background: $text-black;

  ul.nav-pills {
    margin: 0 auto;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    border-right: solid 1px rgba(255, 255, 255, 0.2);

    @media (min-width: 1142px) {
      width: 1142px;
    }

    li.nav-item {
      list-style: none;
      flex: auto;

      a.nav-link {
        border-left: solid 1px rgba(255, 255, 255, 0.2);
        border-bottom: solid 1px rgba(255, 255, 255, 0.2);
        display: block;
        color: #fff;
        padding: 0.25rem 0.5rem;
        text-decoration: none;
        text-align: center;
        white-space: nowrap;
        font-size: 0.8rem;

        @media (min-width: 1142px) {
          padding: 0.75rem;
          font-size: 1rem;
        }

        &:hover {
          background: $text-blue;
        }
      }

      .dropdown-menu{
        background: $text-black;
        //width:100%;
        margin-top: 0;
        padding:0;

        a.dropdown-item{
          color: #fff;
          padding: 0.5rem;
          &:hover,
          &:focus,
          &:active {
            background: $text-blue;
          }
          @media (max-width: 575.98px) {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

/* -------------------------------------------------------
  Table of Contents
--------------------------------------------------------- */
.entry-content .table-of-contents {
  border: none;
  box-shadow: none;
  border-radius: 0;
  width: auto;
  font-size: 100%;
  padding: 2rem 2rem 2rem 3.5rem;

  li {
    padding-top: 0.2rem;
  }
}

/* -------------------------------------------------------
  Category Header
--------------------------------------------------------- */
.archive-header-category {
  text-align: left;
  margin-bottom: 1em;

  @media (min-width: 1142px) {
    margin-bottom: 3em;
  }

  .archive-heading {
    margin: 0;
    color: $text-black;

    @media (min-width: 1142px) {
      font-size: 1.8rem;
    }
  }

  .archive-description {
    margin-top: 0.5rem;
    font-size: 0.8rem;

    @media (min-width: 1142px) {
      font-size: 1rem;
      margin-top: 1rem;
    }
  }
}

/* -------------------------------------------------------
  Breadcrumb
--------------------------------------------------------- */
.breadcrumb,
.page-entry .breadcrumb {
  display: none;
  color: $text-gray;
  margin: 0;
  padding: 1rem 0 0 0;

  a {
    color: $text-blue;
  }

  @media (min-width: 900px) {
    display: block;
  }
}

a.breadcrumb-child-link:before {
  display: none;
}

#entry-header-series-nav,
#entry-footer-series-nav {
  background: $bg-light-blue;
  padding: 1.5rem;

  .nav-next,
  .nav-previous,
  .nav-index {
    margin: 0;

    &::before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      margin-right: 0.5rem;
      color: $text-blue;
    }
  }

  .nav-next::before {
    content: "\f35a";
  }

  .nav-previous::before {
    content: "\f359";
  }

  .nav-index::before {
    content: "\f0ca";
  }
}

.text-link::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 0.5rem;
  color: $text-blue;
  content: "\f138";
}

.pager .pager-next a,
.pager .pager-prev a {
  border: solid 1px $text-blue;
  display: inline-block;
  text-decoration: none;
  padding: 0.75rem 1rem;
  border-radius: 4px;
  line-height: 1.25;
/*
  &::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: 0.5rem;
    content: "\f105";
  }
  */
  &:hover {
    background: $bg-blue;
    border-color: $bg-blue;
    color: #fff;
    &::after {
      color: #fff;
    }
  }
}
.pager .pager-next a{
  margin-left: 0.25rem;
}
.pager .pager-pre a{
  margin-right: 0.25rem;
}

/* -------------------------------------------------------
  Audible
--------------------------------------------------------- */
.audible-btn{
  text-align: center;
  a{
    margin: 0;
    display: block;
    line-height: 1.25;
    padding: 1rem 1.5rem;
    background: $text-pink;
    color: #FFF;
    font-size: 1.2rem;
    border-radius: 4px;
    &:hover{
      text-decoration: none;
      color: #FFF;
      opacity: 0.9;
    }
  }
}