$text-black: #4d4d4d;
$text-gray: #abb4b7;
$text-pink: #ff4e4e;
$text-blue: #47a89c;

$bg-gray: #f7f7f7;
$bg-blue: #9fd2d6;
$bg-light-blue: #f4f7f6;

$border-gray : #DDD;


/* -------------------------------------------------------
  Basic
--------------------------------------------------------- */

body {
  color: $text-black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, Hiragino Kaku Gothic Pro, Meiryo, MS PGothic, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  line-height: 1.6;
  text-align: left;
  background: $bg-light-blue;
  font-size: 16px;
}

#content {
  background-color: $bg-light-blue;
}

a {
  color: $text-blue;
  transition: all 0.3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  a,
  a:hover,
  a:visited {
    color: $text-black;
    text-decoration: none;
  }
}

.hatena-module,
.page-archive .archive-entry,
.page-entry #main {
  border-radius: 0;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}


/* -------------------------------------------------------
  Header
--------------------------------------------------------- */
#blog-title {
  padding: 5rem 0 3rem 0;

  @media (max-width: 575.98px) {
    padding: 3rem 0 1rem 0;
  }

  #title {
    margin: 0;
    font-size: 313%;
    letter-spacing: .05em;
    padding: 0 2rem;

    @media (max-width: 575.98px) {
      font-size: 200%;
    }

    a {
      color: $text-black;

      &:hover {
        color: $text-blue;
      }
    }
  }
}

#blog-description {
  font-weight: 400;
  font-size: 100%;
  color: $text-gray;
  margin: 1rem 0 0;
  padding: 0 2rem;

  @media (max-width: 575.98px) {
    font-size: 90%;
    margin: 0.75rem 0 0;
  }
}


/* -------------------------------------------------------
  Categories
--------------------------------------------------------- */
.categories a,
.urllist-category-link{
  background: $bg-light-blue;
  border-radius: 15px;
  padding: 0 1rem;
  margin-right: 0;
  line-height: 30px;
  height: 30px;
  color: $text-blue;
  white-space: nowrap;
  font-size: 0.8rem;
  display: inline-block;

  &::before {
    content: '#';
  }

  &:hover,
  &:active {
    color: #FFF;
    background: $bg-blue;
  }
}


/* -------------------------------------------------------
  Comment
--------------------------------------------------------- */
.leave-comment-title {
  color: $text-blue;
  font-size: 1rem;
  border-color: $text-blue;
}

/* -------------------------------------------------------
  Footer
--------------------------------------------------------- */
#copyright {
  color: $text-black;
  font-size: 0.8rem;

  a {
    color: $text-blue;
    padding: 0 0.5rem;
  }

  .fa-heart path {
    fill: $text-pink;
  }
}



/* -------------------------------------------------------
  Index archive
--------------------------------------------------------- */
.page-archive {
  .date {
    margin: 1.5rem 1rem 0 1rem;
    font-size: 0.9rem;

    a {
      color: $text-gray;
      font-weight: normal;

      &::before {
        display: none;
      }
    }
  }

  .entry-title {
    margin: 0.5rem 1rem;
  }

  .entry-title-link{
    color: $text-black;
    &:hover,
    &:active {
      color: $text-blue;
    }
  }

  .categories {
    right: 1rem;
    margin: 0 0 1rem 0;
  }

  .entry-thumb {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    @media (min-width: 1142px) {
      width: 200px;
    }
  }

  @media (max-width: 575.98px) {
    .archive-entry {
      height: auto;
      display: flex;
      flex-wrap: wrap;
      padding: 0.5rem;
      .archive-entry-header{
        order: 2;
        margin-left: 10px;
        width: calc(100% - 110px);
        .date{
          margin: 0;
        }
        .entry-title {
          margin: 0;
        }
      }
      .categories{
        order: 3;
        width: 100%;
        position: relative;
        left: 0;
        margin: 0.5rem 0 0 0;
        a{
          font-size: .7rem;
          line-height: 24px;
          height: 24px;
          border-radius: 12px;
          padding: 0 0.5rem;
        }
      }
      .entry-thumb-link{
        order: 1;
        float: none;
        width: 100px;
        .entry-thumb {
          width: 100px;
          height: 100px;
        }
      }
    }
  }
}

/* -------------------------------------------------------
  Sidebar
--------------------------------------------------------- */
.hatena-module {

  // sidebar common
  .hatena-module-title {
    color: $text-black;
    border-bottom: 1px solid $border-gray;

    a {
      color: $text-black;

      &:hover,
      &:active {
        color: $text-blue;
      }
    }
  }


  // Profile
  &.hatena-module-profile {
    .profile-description {
      @media (min-width: 1142px) {
        font-size: 0.8rem;
      }
    }
  }

  // Latest entries, Related entries
  &.hatena-module-recent-entries,
  &.hatena-module-related-entries {
    .urllist-title-link {
      font-size: 0.9rem;
      line-height: 1.4;
      color: $text-black;
      &:hover,
      &:active {
        color: $text-blue;
      }
    }

    .urllist-category-link {
      font-size: .7rem;
      line-height: 24px;
      height: 24px;
      padding: 0 0.5rem;
      border-radius: 12px;
      margin: 0 0.25rem 0.25rem 0;

      &:hover {
        text-decoration: none;
      }
    }

    .urllist-item-inner {
      border-bottom: 1px solid $border-gray;
      padding-bottom: 0.5rem;
    }

    .urllist-categories {
      clear: both;
    }

    .urllist-item:last-child .urllist-item-inner {
      border: 0;
    }
  }

  // Categories
  &.hatena-module-category {
    .hatena-urllist li {
      display: block;
      margin-right: 0;
      float: none;
      border-bottom: 1px solid $border-gray;
      padding: 0;

      a {
        color: $text-black;
        padding: 0.5rem 0;
        background: none;

        &:hover,
        &:active {
          color: $text-blue;
        }


      }
    }
  }
}

/* -------------------------------------------------------
  Entry
--------------------------------------------------------- */
.entry{
  .date a{
    color: $text-gray;
    font-weight: normal;
    &::before{
      display: none;
    }
  }
  .entry-title {
    line-height: 1.25;
    @media (min-width: 1200px) {
      font-size: 200%;
    }
  }
  .categories {
    margin: 1em 0;
  }
  .entry-header {
    padding-bottom: 0;
    margin-bottom: 1.5em;
    border-bottom: 1px solid $border-gray;
  }

  .entry-content{
    // line-height: 1.8;
    // font-size: 110%;
    p{
      line-height: 1.8;
      margin: 0 0 1em;
      @media (max-width: 575.98px) {
        font-size: 17px;
      }
    }
    h3 {
      color: $text-black;
      font-size: 200%;
      margin: 2rem 0;
      border-bottom: solid 2px $text-blue;
      font-weight: normal;
      padding: 0 0 0.5rem 0;
      line-height: 1.2;
      background: none;
      @media (max-width: 575.98px) {
        font-size: 150%;
      }
    }
    h4 {
      font-size: 150%;
      color: $text-blue;
      margin: 1.5em 0 0.5em 0;
      line-height: 1.2;
      padding: 0;
      border: 0;
      @media (max-width: 575.98px) {
        font-size: 125%;
      }
    }
    blockquote {
      background: $bg-gray url(https://cdn.blog.st-hatena.com/css/theme/evergreen/images/quote.png?version=97326de…&env=production) no-repeat;
      line-height: 1.8;
      font-size: 113%;
      background-position: 40px 25px;
      margin: 0 0 10px;
      padding: 75px 40px 40px;
      color: gray;
      border: 0;
      @media (max-width: 575.98px) {
        padding: 40px 20px 20px;
        background-position: 15px 15px;
        background-size: 30px;
      }

      p {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
  .hatena-module-related-entries{
    box-shadow: none;
  }
}


